/* google font start*/
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,200;0,600;0,700;0,800;1,600&family=Poppins:wght@200;800&display=swap');
/* google font end*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
}
/* navber section start here  */
nav{
    display: flex;
    background-color: #1c2833;
    height: 80px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px 0px 80px;
}
.logo{
    font-size: 22px;
    font-weight: bold;
    color: white;
}
nav ul{
    display: flex;
}
nav ul li{
    list-style-type: none;
    margin: 0px 8px;
}
nav ul li a{
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding: 7px 13px;
    border-radius: 3px;
    transition: 0.5s;
    text-transform: uppercase;
}
nav ul li a:hover, nav ul li a.active{
    background-color: #646e77;
}
.menu-btn{
    color: white;
    font-size: 22px;
    cursor: pointer;
    display: none;
}
#click{
    display: none;
}

/* responsive work start here  */

@media only screen and (max-width: 940px) {
    .menu-btn{
        display: block;
    }
    nav ul{
        position: fixed;
        top: 80px;
        left: -100%;
        height: 100vh;
        width: 100%;
        flex-direction: column;
        text-align: center;
        padding-top: 20px;
        background-color: #0d141a;
        transition: all 0.5s ease;
    }
    #click:checked ~ .menu-btn i::before{
        content: "\f00d";
    }
    #click:checked ~ ul{
        left: 0%;
    }
    nav ul li{
        margin: 50px 0;
    }
    nav ul li a{
        font-size: 22px;
    }
    nav ul li a:hover, nav ul li a.active {
        background: none;
        color: rgb(155, 6, 6);
    }
}
/* responsive work end here  */

/* navber section end here  */

/* header section start here  */

header{
    background-image: url('images/1.jpg');
    height: 90vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
/* header section end here  */